/* FONTS */
@font-face {
  font-family: 'Roboto';
  src: url("/https://fonts.googleapis.com/css?family=Roboto")
}
/*Dreamhub Addition*/
#meta-bar-dreamhub{
	    position:absolute;
	    top: 240px;
	    width: 100%;
	}
#meta-bar-dreamhub.smaller{
	display:none;
}

#content{
	margin-top: 96px;
}

#INBOX_CONTAINER{
	margin-top: 96px;
}

#communityApp{
	margin-top:96px;
}

/* VARIABLES */
/* BASE */
* {
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header.header * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 1.4;
  margin: 0 !important;
  padding: 0; }

body[data-community="Catalyst"] {
  font-family: 'Roboto', sans-serif !important; }

a {
  text-decoration: none;
  color: inherit; }

body {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.container {
  margin: 0 20px;
  transform: translateZ(0); }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.site-content {
  -moz-transform: translate(0, 240px);
  -o-transform: translate(0, 240px);
  -ms-transform: translate(0, 240px);
  -webkit-transform: translate(0, 240px);
  transform: translate(0, 240px);
  -moz-transition: all 0.45s ease-out;
  -o-transition: all 0.45s ease-out;
  -webkit-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out; }

/* HEADER */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 240px;
  line-height: 66px;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  -moz-transition: height 0.3s ease-out 0s, box-shadow 0.1s ease-in 0.3s;
  -o-transition: height 0.3s ease-out 0s, box-shadow 0.1s ease-in 0.3s;
  -webkit-transition: height 0.3s ease-out 0s, box-shadow 0.1s ease-in 0.3s;
  transition: height 0.3s ease-out 0s, box-shadow 0.1s ease-in 0.3s;
  background: url("//rawgit.com/PIrich/catalyst/master/app/images/logo_catalyst.svg"), url("//rawgit.com/PIrich/catalyst/master/app/images/background_powder-explosion.jpg");
  background-position: center 70%, center 70%;
  background-attachment: inherit, fixed;
  background-size: 350px auto, 100%;
  background-repeat: no-repeat;
  background-color: #382c4c;
  box-shadow: inset 0 0 0 1000px rgba(59, 44, 76, 0); }

.header__icon {
  display: none; }

.header__logo {
  font-weight: 700;
  line-height: 210px;
  position: relative;
  display: none;
  z-index: 1;
  float: left;
  width: 100%;
  -moz-transform: translate(0, 32px);
  -o-transform: translate(0, 32px);
  -ms-transform: translate(0, 32px);
  -webkit-transform: translate(0, 32px);
  transform: translate(0, 32px);
  text-align: center;
  font-weight: 400;
  opacity: 1;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  .header__logo img {
    height: 140px;
    width: auto;
    vertical-align: bottom; }

.nav__container {
  width: 100%;
  padding: 0 3%;
  float: left;
  position: relative;
  z-index: 2;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
  .nav__container:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    top: 6px;
    height: 44px;
    opacity: 0;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #a57eae; }

.header nav a {
  line-height: 56px;
  color: #ffffff;
  font-weight: 100;
  font-size: 19px;
  float: left;
  text-decoration: none; }
  .header nav a img, .header nav a svg {
    height: 30px;
    width: auto;
    vertical-align: middle;
    -moz-transform: translate(0, -1px);
    -o-transform: translate(0, -1px);
    -ms-transform: translate(0, -1px);
    -webkit-transform: translate(0, -1px);
    transform: translate(0, -1px); }
  .header nav a svg .path {
    fill: #ffffff;
    -moz-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear; }
  .header nav a:hover svg .path {
    fill: #ffb635; }
  .header nav a.back {
    padding-left: 0;
    opacity: 0.85;
    -moz-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease; }
    .header nav a.back:hover {
      opacity: 1; }

.header .home {
  position: relative; }
  .header .home img {
    height: 39px;
    z-index: 1001;
    top: 8px;
    position: absolute;
    -moz-transition: opacity 0.1s ease-out;
    -o-transition: opacity 0.1s ease-out;
    -webkit-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
    opacity: 0;
    -moz-transform: translate(-240px, 0);
    -o-transform: translate(-240px, 0);
    -ms-transform: translate(-240px, 0);
    -webkit-transform: translate(-240px, 0);
    transform: translate(-240px, 0); }

.nav__main {
  float: left;
  width: 100%; }
  .nav__main a {
    padding: 0 2.5vw; }
  .nav__main input[type=checkbox] {
    display: none; }

.nav__secondary, #meta-bar .container {
  position: absolute;
  right: 3%;
  top: 0;
  height: 44px;
  opacity: 1;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .nav__secondary a, #meta-bar .container a {
    padding: 0 10px; }

@media (min-width: 1024px) {
  header.header.smaller {
    height: 56px;
    box-shadow: inset 0 0 0 1000px #3b2c4c;
    -moz-transition: height 0.15s ease-out 0.3s, box-shadow 0.3s linear 0s;
    -o-transition: height 0.15s ease-out 0.3s, box-shadow 0.3s linear 0s;
    -webkit-transition: height 0.15s ease-out 0.3s, box-shadow 0.3s linear 0s;
    transition: height 0.15s ease-out 0.3s, box-shadow 0.3s linear 0s; }
    header.header.smaller .nav__container {
      -moz-transform: translate(205px, 0);
      -o-transform: translate(205px, 0);
      -ms-transform: translate(205px, 0);
      -webkit-transform: translate(205px, 0);
      transform: translate(205px, 0); }
      header.header.smaller .nav__container:before {
        -moz-transition: all 0.2s ease-in 0.4s;
        -o-transition: all 0.2s ease-in 0.4s;
        -webkit-transition: all 0.2s ease-in 0.4s;
        transition: all 0.2s ease-in 0.4s;
        opacity: 1; }
    header.header.smaller + .site-content {
      -moz-transform: translate(0, 120px);
      -o-transform: translate(0, 120px);
      -ms-transform: translate(0, 120px);
      -webkit-transform: translate(0, 120px);
      transform: translate(0, 120px); }
    header.header.smaller .header__logo {
      height: 56px;
      line-height: 56px;
      opacity: 0; }
    header.header.smaller nav a.back {
      line-height: 52px; }
    header.header.smaller nav .home {
      padding: 0;
      left: calc(50px - 2.4vw);
      animation: home-slide linear 0.6s;
      animation-iteration-count: 1;
      transform-origin: 50% 50%;
      -webkit-animation: home-slide linear 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-transform-origin: 50% 50%;
      -moz-animation: home-slide linear 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-transform-origin: 50% 50%;
      -o-animation: home-slide linear 0.6s;
      -o-animation-iteration-count: 1;
      -o-transform-origin: 50% 50%;
      -ms-animation: home-slide linear 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-transform-origin: 50% 50%; }
      header.header.smaller nav .home img {
        -moz-transition: opacity 0.3s ease-out;
        -o-transition: opacity 0.3s ease-out;
        -webkit-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
        opacity: 1; }
  @keyframes home-slide {
    0% {
      transform: translate(-250px, 0px); }
    50% {
      transform: translate(-250px, 0px); }
    100% {
      transform: translate(0px, 0px); } }
  @-moz-keyframes home-slide {
    0% {
      -moz-transform: translate(-250px, 0px); }
    50% {
      -moz-transform: translate(-250px, 0px); }
    100% {
      -moz-transform: translate(0px, 0px); } }
  @-webkit-keyframes home-slide {
    0% {
      -webkit-transform: translate(-250px, 0px); }
    50% {
      -webkit-transform: translate(-250px, 0px); }
    100% {
      -webkit-transform: translate(0px, 0px); } }
  @-o-keyframes home-slide {
    0% {
      -o-transform: translate(-250px, 0px); }
    50% {
      -o-transform: translate(-250px, 0px); }
    100% {
      -o-transform: translate(0px, 0px); } }
  @-ms-keyframes home-slide {
    header.header.smaller 0% {
      -ms-transform: translate(-250px, 0px); }
    header.header.smaller 50% {
      -ms-transform: translate(-250px, 0px); }
    header.header.smaller 100% {
      -ms-transform: translate(0px, 0px); } } }

/* MENU */
.menu {
  float: left;
  width: 100%;
  /* presentational */ }
  .menu ul {
    margin: 0;
    padding: 0; }
  .menu li {
    list-style: none;
    float: left;
    position: relative; }
  .menu a:hover {
    color: #ffb635; }
  .menu a {
    z-index: 2;
    position: relative; }
  .menu .sub-menu-parent {
    position: relative;
    float: left; }
    .menu .sub-menu-parent:before {
      content: '';
      background: rgba(0, 0, 0, 0.77);
      width: 86%;
      height: 100%;
      position: absolute;
      left: 7%;
      top: 0;
      transform: translateY(-2em);
      z-index: -1;
      visibility: hidden;
      /* hides sub-menu */
      opacity: 0;
      transition: all 0.3s ease-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
    .menu .sub-menu-parent > a span {
      -moz-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
      -webkit-box-shadow: 0px 2px 0px 0px rgba(15, 185, 180, 0);
      -moz-box-shadow: 0px 2px 0px 0px rgba(15, 185, 180, 0);
      box-shadow: 0px 2px 0px 0px rgba(15, 185, 180, 0); }
    .menu .sub-menu-parent:hover > a span {
      padding-bottom: 6px;
      -webkit-box-shadow: 0px 2px 0px 0px #0fb9b4;
      -moz-box-shadow: 0px 2px 0px 0px #0fb9b4;
      box-shadow: 0px 2px 0px 0px #0fb9b4; }
    .menu .sub-menu-parent:hover:before {
      visibility: visible;
      /* shows sub-menu */
      opacity: 1;
      z-index: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.3s; }
    .menu .sub-menu-parent:hover {
      z-index: 3; }
  .menu .sub-menu {
    visibility: hidden;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 7%;
    width: auto;
    transform: translateY(-2em);
    z-index: -1;
    padding: 8px 0 0 0;
    -moz-transition: all 0.3s ease-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    -o-transition: all 0.3s ease-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    -webkit-transition: all 0.3s ease-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    transition: all 0.3s ease-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
    .menu .sub-menu a {
      line-height: 30px; }
    .menu .sub-menu li {
      min-width: 100%; }
      .menu .sub-menu li:last-child {
        padding-bottom: 10px; }
      .menu .sub-menu li a {
        font-size: 15px;
        padding: 0px 10px 10px 35px;
        padding-left: calc(1.7vw + 20px);
        line-height: 20px;
        background-image: url(https://rawgit.com/PIrich/catalyst/master/app/images/icon_list.svg);
        background-repeat: no-repeat;
        background-size: 7px auto;
        background-position: 1.7vw 7px;
        min-width: 100%; }
        .menu .sub-menu li a:hover {
          background-image: url(https://rawgit.com/PIrich/catalyst/master/app/images/icon_list__y.svg); }
    .menu .sub-menu.support li a {
      min-width: 180px; }
    .menu .sub-menu.education li a {
      min-width: 190px; }
  .menu .sub-menu-parent:hover .sub-menu {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay so the menu will be visible while the other styles transition */ }
  .menu .search__bar {
    position: relative;
    float: left;
    z-index: 3; }
  .menu .search__bar input {
    margin: 11px 0 0 2.5vw;
    border: none;
    height: 34px;
    padding: 0 36px 0 14px;
    width: 212px;
    float: left;
    position: relative;
    background: transparent;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    outline: none;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-box-shadow: inset 0px 0px 0px 1px #fff;
    -moz-box-shadow: inset 0px 0px 0px 1px #fff;
    box-shadow: inset 0px 0px 0px 1px #fff;
    border-radius: 5px; }
    .menu .search__bar input:focus {
      color: #342c4d;
      -webkit-box-shadow: inset 0px 0px 0px 20px #fff;
      -moz-box-shadow: inset 0px 0px 0px 20px #fff;
      box-shadow: inset 0px 0px 0px 20px #fff; }
      .menu .search__bar input:focus + .search__button:before {
        content: url("https://rawgit.com/PIrich/catalyst/master/app/images/icon_search__b.svg"); }
      .menu .search__bar input:focus + .search__button:hover:before {
        opacity: 1;
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg); }
  .menu .search__bar ::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 13px; }
  .menu .search__bar :-moz-placeholder {
    color: #ffffff;
    font-size: 13px; }
  .menu .search__bar ::-moz-placeholder {
    color: #ffffff;
    font-size: 13px; }
  .menu .search__bar :-ms-input-placeholder {
    color: #ffffff;
    font-size: 13px; }
  .menu .search__button {
    position: absolute;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 0;
    right: 0px;
    top: 12px;
    height: 34px;
    width: 34px;
    background: transparent;
    padding: 0;
    box-shadow: none;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    overflow: hidden; }
    .menu .search__button:before {
      content: url("https://rawgit.com/PIrich/catalyst/master/app/images/icon_search.svg");
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      moz-transform-origin: 6px 5px;
      -o-transform-origin: 6px 5px;
      -ms-transform-origin: 6px 5px;
      -webkit-transform-origin: 6px 5px;
      transform-origin: 6px 5px;
      position: absolute;
      width: 17px;
      height: auto;
      right: 12px;
      top: 10px; }
  .menu nav a {
    text-decoration: none; }
  .menu nav ul,
  .menu nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .menu nav ul:last-child,
    .menu nav ul li:last-child {
      padding-bottom: 10px; }
  .menu nav > ul {
    background: #EEE;
    text-align: center; }
  .menu nav > ul > li {
    display: inline-block; }
  .menu .sub-menu {
    background: rgba(0, 0, 0, 0.77);
    min-width: 140px; }

/* RESPONSIVE */
@media (max-width: 1023px) {
  body .header .header__logo {
    display: block;
    opacity: 1;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body.with--sidebar .header .header__logo {
    opacity: 0; }
  .site-pusher,
  .site-container {
    height: 100%; }
  .site-container {
    overflow: hidden; }
  .site-pusher {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transition-property: 0.3s;
    -o-transition-property: 0.3s;
    -webkit-transition-property: 0.3s;
    transition-property: 0.3s;
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  .site-content {
    position: absolute;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    right: 0;
    height: 100%;
    left: 0;
    bottom: 0;
    padding-top: 66px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
  .header {
    position: static;
    height: 66px;
    overflow: visible;
    box-shadow: inset 0 0 0 1000px #3b2c4c;
    -webkit-box-shadow: inset 0 0 0 1000px #3b2c4c;
    -moz-box-shadow: inset 0 0 0 1000px #3b2c4c; }
  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    z-index: 1000;
    cursor: pointer; }
    .header__icon:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px; }
  .header__logo {
    line-height: 61px;
    width: 200px;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
    .header__logo img {
      height: 44px;
      vertical-align: middle; }
  .nav__container {
    position: absolute;
    float: left;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    -moz-transition: 0s all linear;
    -o-transition: 0s all linear;
    -webkit-transition: 0s all linear;
    transition: 0s all linear;
    background-color: #2c233c;
    overflow-y: auto;
    overflow-x: hidden;
    /*    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
    width: 250px;
    -moz-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px); }
    .nav__container a {
      display: block;
      text-align: center;
      line-height: 40px; }
      .nav__container a.search__icon {
        display: none; }
  .nav__main {
    width: 100%; }
  .header .nav__main a {
    width: 100%;
    line-height: 52px;
    text-align: left;
    padding: 0 44px;
    font-size: 20px; }
    .header .nav__main a.back {
      padding-left: 17px;
      padding-bottom: 5px; }
      .header .nav__main a.back img {
        height: 28px;
        width: auto;
        margin-left: -3px; }
  .header .nav__main .home {
    line-height: 44px;
    margin: 0 0 68px 0;
    height: 130px;
    background: #000000;
    padding: 34px 38px 34px 26px; }
    .header .nav__main .home img {
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      position: relative;
      margin: 0;
      opacity: 1;
      height: 50px;
      vertical-align: middle; }
  .menu li {
    width: 100%; }
  .menu .sub-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
    float: left;
    background: transparent;
    transform: translate(0, 0);
    margin-left: 27px;
    left: 0;
    padding: 0; }
    .menu .sub-menu li a {
      padding: 4px 16px 16px 36px;
      line-height: 22px;
      background-position: 18px 11px; }
  .menu .sub-menu-parent:hover > a span {
    padding-bottom: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .menu .sub-menu-parent:hover:before {
    display: none; }
  .menu .search__bar {
    position: absolute;
    top: 130px;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    width: 250px;
    height: 45px;
    padding: 0; }
    .menu .search__bar input {
      width: 100%;
      background: #F2CEFA;
      border-radius: 0;
      height: 44px;
      color: #382c4c;
      font-size: 15px;
      line-height: 16px;
      -webkit-box-shadow: 0 0 0 0 transparent;
      -moz-box-shadow: 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent;
      margin: 0;
      padding: 0 44px 0 18px; }
      .menu .search__bar input:focus {
        -webkit-box-shadow: 0 0 0 0 transparent;
        -moz-box-shadow: 0 0 0 0 transparent;
        box-shadow: 0 0 0 0 transparent;
        background: #ffffff; }
    .menu .search__bar ::-webkit-input-placeholder {
      color: #382c4c; }
    .menu .search__bar :-moz-placeholder {
      color: #382c4c; }
    .menu .search__bar ::-moz-placeholder {
      color: #382c4c; }
    .menu .search__bar :-ms-input-placeholder {
      color: #382c4c; }
  .menu .search__button {
    right: 0;
    top: 0;
    width: 44px;
    height: 44px; }
    .menu .search__button:before {
      content: url(https://rawgit.com/PIrich/catalyst/master/app/images/icon_search__b.svg);
      top: 15px;
      right: 16px; }
  .nav__secondary {
    display: none; }
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -o-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px); }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); }
  .nav__main {
    float: left; }
    .nav__main ul.sub-menu {
      list-style: none;
      max-height: 500px;
      overflow: hidden;
      -moz-transition: all 0.4s ease-in 0s;
      -o-transition: all 0.4s ease-in 0s;
      -webkit-transition: all 0.4s ease-in 0s;
      transition: all 0.4s ease-in 0s; }
    .nav__main input {
      position: absolute; }
      .nav__main input:checked ~ ul.sub-menu {
        max-height: 0;
        -moz-transition: all 0.4s ease-out 0s;
        -o-transition: all 0.4s ease-out 0s;
        -webkit-transition: all 0.4s ease-out 0s;
        transition: all 0.4s ease-out 0s; }
      .nav__main input ~ label {
        cursor: pointer;
        position: absolute;
        z-index: 3;
        width: 44px;
        height: 44px;
        top: 5px;
        left: 2px; }
      .nav__main input ~ label:before {
        content: url("https://rawgit.com/PIrich/catalyst/master/app/images/icon_plus.svg");
        width: 44px;
        height: 44px;
        position: absolute;
        -moz-transform: rotate(45deg) scale(0.387);
        -o-transform: rotate(45deg) scale(0.387);
        -ms-transform: rotate(45deg) scale(0.387);
        -webkit-transform: rotate(45deg) scale(0.387);
        transform: rotate(45deg) scale(0.387);
        -moz-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        -webkit-transition: all 0.1s linear;
        transition: all 0.1s linear; }
      .nav__main input:checked ~ label:before {
        -moz-transform: rotate(0deg) scale(0.387);
        -o-transform: rotate(0deg) scale(0.387);
        -ms-transform: rotate(0deg) scale(0.387);
        -webkit-transform: rotate(0deg) scale(0.387);
        transform: rotate(0deg) scale(0.387); } }

/* HAMBURGER ANIMATION */
#header__icon {
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  transform: scale(0.4); }

#nav-icon1 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 14px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 18px; }

#nav-icon1 span:nth-child(3) {
  top: 36px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/* Influitive Implementation */
#meta-bar {
  position: fixed;
  top: 0;
  right: 3%;
  z-index: 6;
  background-color: transparent !important;
  width: 170px; }
  #meta-bar .container {
    width: 170px; }
  #meta-bar .indicator {
    font-size: 22px !important; }

#meta-bar .personal-nav {
  width: 143px;
  top: 7px;
  bottom: inherit; }
  #meta-bar .personal-nav > ul {
    width: 170px; }

#meta-bar .profile img {
  height: 26px;
  margin: 7px 0; }

#meta-bar .profile .ic-chevron-down {
  line-height: 20px; }

#meta-bar .profile #contact-dropdown {
  margin-left: 0; }

#meta-bar .dropdown-menu {
  background: rgba(0, 0, 0, 0.77);
  border-radius: 0;
  color: #ffffff;
  top: calc(100% + 12px);
  font-size: 18px; }
  #meta-bar .dropdown-menu > li > a {
    color: #ffffff; }
    #meta-bar .dropdown-menu > li > a:hover {
      color: #ffb635; }

html.advocate_hub {
  overflow-x: visible; }

.lightbox {
  -moz-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important; }

#meta-bar .dropdown-menu {
  width: auto;
  transform: translateY(-2em);
  z-index: -1;
  padding: 8px 0 0 0;
  position: absolute;
  top: calc(100% + 40px);
  -moz-transition: all 0.3s ease-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -o-transition: all 0.3s ease-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -webkit-transition: all 0.3s ease-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transition: all 0.3s ease-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
  #meta-bar .dropdown-menu a {
    line-height: 30px; }
  #meta-bar .dropdown-menu li {
    min-width: 100%; }
    #meta-bar .dropdown-menu li:last-child {
      padding-bottom: 10px; }
    #meta-bar .dropdown-menu li a {
      font-size: 15px;
      padding: 0px 10px 10px 35px;
      float: left;
      line-height: 20px;
      background-image: url(https://rawgit.com/PIrich/catalyst/master/app/images/icon_list.svg);
      background-repeat: no-repeat;
      background-size: 7px auto;
      background-position: 1.7vw 7px;
      min-width: 100%; }
      #meta-bar .dropdown-menu li a:hover {
        background-image: url(https://rawgit.com/PIrich/catalyst/master/app/images/icon_list__y.svg);
        background-color: transparent; }

#meta-bar #notification-drop li.unread {
  background-color: transparent; }

body[data-community="Catalyst"] {
  position: relative !important;
  overflow: visible !important; }
  body[data-community="Catalyst"] > div {
    -moz-transform: translate(0, 240px);
    -o-transform: translate(0, 240px);
    -ms-transform: translate(0, 240px);
    -webkit-transform: translate(0, 240px);
    transform: translate(0, 240px);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    body[data-community="Catalyst"] > div#app-header, body[data-community="Catalyst"] > div#top-header, body[data-community="Catalyst"] > div#wrapper {
      -moz-transform: none !important;
      -o-transform: none !important;
      -ms-transform: none !important;
      -webkit-transform: none !important;
      transform: none !important; }
    body[data-community="Catalyst"] > div#wrapper > div {
      -moz-transform: translate(0, 240px);
      -o-transform: translate(0, 240px);
      -ms-transform: translate(0, 240px);
      -webkit-transform: translate(0, 240px);
      transform: translate(0, 240px); }
      body[data-community="Catalyst"] > div#wrapper > div#top-header {
        -moz-transform: none !important;
        -o-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important; }
  body[data-community="Catalyst"].header--smaller > div {
    -moz-transform: translate(0, 56px);
    -o-transform: translate(0, 56px);
    -ms-transform: translate(0, 56px);
    -webkit-transform: translate(0, 56px);
    transform: translate(0, 56px); }
    body[data-community="Catalyst"].header--smaller > div#app-header, body[data-community="Catalyst"].header--smaller > div#top-header, body[data-community="Catalyst"].header--smaller > div#wrapper {
      -moz-transform: none !important;
      -o-transform: none !important;
      -ms-transform: none !important;
      -webkit-transform: none !important;
      transform: none !important; }
    body[data-community="Catalyst"].header--smaller > div#wrapper > div {
      -moz-transform: translate(0, 240px);
      -o-transform: translate(0, 240px);
      -ms-transform: translate(0, 240px);
      -webkit-transform: translate(0, 240px);
      transform: translate(0, 240px); }
      body[data-community="Catalyst"].header--smaller > div#wrapper > div#top-header {
        -moz-transform: none !important;
        -o-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important; }
  body[data-community="Catalyst"] ul.list > li {
    background: transparent; }
  body[data-community="Catalyst"] .pt-modal-dialog {
    /*position: absolute !important;*/
    top: 0;
    left: 0;
    height: 100%; /*auto*/
    overflow: auto; }

 body[data-community="Catalyst"] .pt-modal-dialog  .pt-modal {
 	height:90%;
 	overflow-y: auto;
 }

 body[data-community="Catalyst"] #lockdialog.pt-modla-dialog.close.lightbox {
 	display: none;
 }

.dropdown-toggle:hover {
  color: #ffb635; }

#top-header, #app-header {
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  height: 56px;
  display: block !important;
  -moz-transition: height 0s linear 0.3s;
  -o-transition: height 0s linear 0.3s;
  -webkit-transition: height 0s linear 0.3s;
  transition: height 0s linear 0.3s; }
  #top-header .header, #app-header .header {
    margin: 0; }
  #top-header .nav__secondary, #app-header .nav__secondary {
    display: none; }

@media (min-width: 1024px) {
  #meta-bar {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  #meta-bar.smaller {
    -moz-transform: translate(205px, 0);
    -o-transform: translate(205px, 0);
    -ms-transform: translate(205px, 0);
    -webkit-transform: translate(205px, 0);
    transform: translate(205px, 0); }
    #meta-bar.smaller ~ #content, #meta-bar.smaller ~ #context-switcher {
      -moz-transform: translate(0, 56px);
      -o-transform: translate(0, 56px);
      -ms-transform: translate(0, 56px);
      -webkit-transform: translate(0, 56px);
      transform: translate(0, 56px);
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    #meta-bar.smaller ~ #header.navbar {
      opacity: 0; }
    #meta-bar.smaller ~ #top-header, #meta-bar.smaller ~ #app-header {
      height: 56px; } }

.influnet-promotion {
  display: none; }

#lockdialog{
	display: none;
}

.challenge-browser .challenge-suggestion {
	display: none;
}

#header-bar #header-points {
  color: #ffffff; }

#header.navbar {
  position: fixed;
  z-index: 10;
  top: 220px;
  right: 3%;
  background-color: transparent;
  opacity: 1;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }
  #header.navbar .navbar-inner {
    background-color: transparent;
    background-image: none;
    border: none; }
    #header.navbar .navbar-inner #header-bar {
      background-color: transparent;
      border: none; }
  #header.navbar #main-navigation {
    display: none; }

@media (max-width: 1023px) {
  #meta-bar {
    top: 5px; }
  #content, #context-switcher {
    -moz-transform: translate(0, 66px);
    -o-transform: translate(0, 66px);
    -ms-transform: translate(0, 66px);
    -webkit-transform: translate(0, 66px);
    transform: translate(0, 66px); }
  .navbar {
    display: none; }
  body[data-community="Catalyst"] {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body[data-community="Catalyst"].with--sidebar {
    -moz-transform: translateX(250px);
    -o-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
    overflow: visible;
    height: 100%; }
    body[data-community="Catalyst"].with--sidebar:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6); }
    body[data-community="Catalyst"].with--sidebar #content {
      height: calc(100% - 185px);
      overflow: hidden;
      margin-bottom: 0; }
    body[data-community="Catalyst"].with--sidebar #top-header {
      height: 100%;
      background: transparent;
      -moz-transition: height 0s linear 0s;
      -o-transition: height 0s linear 0s;
      -webkit-transition: height 0s linear 0s;
      transition: height 0s linear 0s; }
      body[data-community="Catalyst"].with--sidebar #top-header .nav_container {
        height: 100%;
        overflow: auto; } }

.cHeaderPanel {
  display: none; }

.cViewPanel img {
  max-width: inherit; }

.cViewPanel > div {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform: translate(0, 240px);
  -o-transform: translate(0, 240px);
  -ms-transform: translate(0, 240px);
  -webkit-transform: translate(0, 240px);
  transform: translate(0, 240px);
  position: relative;
  z-index: 1; }
  .cViewPanel > div[data-region-name="customHeader"] {
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    z-index: 2;
    position: fixed;
    width: 100%;
    -moz-transition: height 0s linear 0.3s;
    -o-transition: height 0s linear 0.3s;
    -webkit-transition: height 0s linear 0.3s;
    transition: height 0s linear 0.3s;
    height: 66px; }
    .cViewPanel > div[data-region-name="customHeader"] .ui-widget {
      line-height: 0; }

body .uiContainerManager {
  position: relative; }

@media (max-width: 1023px) {
  .cViewPanel {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  body.with--sidebar div[data-region-name="customHeader"] {
    z-index: 1;
    height: 100vh;
    overflow-y: visible;
    -moz-transition: height 0s linear 0s;
    -o-transition: height 0s linear 0s;
    -webkit-transition: height 0s linear 0s;
    transition: height 0s linear 0s; }
  body.with--sidebar .siteforceNapiliBody {
    -moz-transform: translateX(250px);
    -o-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
    position: fixed;
    width: 100%; }
    body.with--sidebar .siteforceNapiliBody:after {
      content: '';
      position: absolute;
      display: block;
      top: 66px;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6); }
  .cViewPanel > div {
    -moz-transform: translate(0, 56px);
    -o-transform: translate(0, 56px);
    -ms-transform: translate(0, 56px);
    -webkit-transform: translate(0, 56px);
    transform: translate(0, 56px); }
    .cViewPanel > div[data-region-name="customHeader"] {
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); } }